--extra-index-url https://download.pytorch.org/whl/nightly/cu128
torch
torchvision
albumentations
ipykernel
jupyterlab
matplotlib
numpy
opencv-python
paddleocr
paddlepaddle-gpu
pillow
transformers
pypdfium2
pytesseract